<%= link_to("Menu Principal", {:controller => :home, :action => :index}) %>
<div>
<h1>Lazos Registrados</h1>
	
	<table class="listing" summary='area list' cellspacing="5">
		<tr class="header" align="center">
			<th>Nombre del Lazo</th>
			<th>Color</th>
			<th>Opciones</th>
		</tr>
		<% @areas.each do |c| %>
		<tr align="center">
			<td><%= c.name %></td>
			<td style="background-color:<%= c.color %>;height:5;width:5;overflow:hidden"></td>
			<td class="actions">
			<%= link_to("Modificar", {:action => 'edit', :id => c.id}, :class => 'back-link') %>
			<%= link_to("Eliminar", {:action => 'destroy', :id => c.id}, :class => 'back-link') %>
			</td>
		</tr>
		<% end %>
	</table>
</div>
</br>
<%= link_to("<< Crear Lazo", {:controller => 'area', :action => 'new'}, :class => 'back-link') %>