<h1>Generador - Codigos de Barra</h1>

	<h2>Menu</h2>

	Tarjetas
	
	<ul>
		<%= link_to "Crear Tarjeta", :controller => :card, :action => :new %></br>
		<%= link_to "Listar Tarjetas", :controller => :card, :action => :lookup %></br>
	</ul>
	
	Areas
	
	<ul>
		<%= link_to "Crear Area", :controller => :area, :action => :new %></br>
		<%= link_to "Listar Areas", :controller => :area, :action => :lookup %></br>
	</ul>
	
	<!-- Codigos de Barra
	
	<ul>	
		<%= link_to "Generar Codigos", :controller => :code, :action => :new %></br>
	</ul> -->
	
