<%= link_to("Listar Tarjetas", {:controller => 'card', :action => 'lookup'})%>

<div>
	<h2>Crear Tarjeta</h2>
	<%= form_for(:card, :url => {:action => 'create', :id => @card.id}) do |f| %>
	
	<table border="0" cellspacing="5" cellpadding="5" style="align:center">
		<tr>
			<th>No Parte</th>
			<th>Descripcion</th>
			<th>Proviene De</th>
			<th>Se Dirige A</th>
		</tr>
		<tr>
			<td><%= f.text_field(:part_no) %></td>
			<td><%= f.text_field(:description) %></td>
			<td><%= f.text_field(:from_loc) %></td>
			<td><%= f.text_field(:to_loc) %></td>
		</tr>
		<tr>
			<th>Cantidad en Bin</th>
			<th>No Inicial</th>
			<th>No Final</th>
			<th>Area</th>
		</tr>
			<td><%= f.text_field(:bin_qty) %></td>
			<td><%= f.text_field(:start, :value => 1) %></td>
			<td><%= f.text_field(:finish) %></td>
			<td><%= f.collection_select(:area_id, Area.all, :id, :name) %></td>
		</tr>
		<tr>
			<th>Index</th>
		</tr>
		<tr>
			<td><%= f.text_field(:card_index)%></td>
		</tr>
		<br \>
		<tr>
			<td>
				<div>
					<%= submit_tag("Crear tarjeta") %>
				</div>
			</td>
		</tr>
	</table>
	<%end%>
	
</div>