<div id="links">
	<%= link_to "Regresar al Menu", :controller => :home, :action => :index %>
	<br />
	<%= link_to "Regresar al Listado", :action => :lookup %>
	<br /><br />
	<%= link_to "Imprimir", '#', onclick: "printpage()"%>
</div>
</br>
<div id="container">
<% count = @card.start %>
<% count2 = 1 %>
<% @card.finish.times do %> 	
	<div class="div<%= count2.to_s %>">
		<div style="font-size:22px;font-weight:bold;height:50px;background-color:<%= @card.area.color%>">
			<%= @card.part_no %>
			&nbsp
			<%= count %> /
		    <%= @card.finish %>
			&nbsp
			<%= @card.card_index %>
		</div>
		<br \>
		<div style="text-align:center;"><%= image_tag "#{@card.part_no}" + "-" + "#{count}" + "-" + "#{@card.finish}" + "-" + "#{@card.card_index}" + ".png" %></div>
		
			<div id="desc"><%= @card.description %></div>
			<br \>
			<div id="bottom">
			<%= @card.from_loc %>
			-
			<%= @card.to_loc %> 
			&nbsp
			Cant.
			&nbsp
			<%= @card.bin_qty%>
			&nbsp
			EA
			</div>
	</div>
	<% count2 == 6 ? count2 = 1 : count2 += 1%>
<% count += 1 %>
<% end %>
</div>