<h1>Generador de Codigos</h1>

<p >Ingresa los siguientes datos:</p>

<%= form_tag :controller => 'code', :action => 'create' do %>
<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<th class='label'><%= label_tag :part_no %></th>
		<td><%= text_field_tag :part_no, params[:part_no] %></td>
	</tr>
	<tr>
		<th class='label'><%= label_tag 'Numero Inicial' %></th>
		<td><%= text_field_tag :start, params[:start] %></td>
	</tr>
	<tr>
		<th class='label'><%= label_tag 'Numero Final' %></th>
		<td><%= text_field_tag :finish, params[:finish] %></td>
	</tr>
	<tr>
		<td><%= submit_tag "Crear", :action => 'create' %></td>
	</tr>
</table>
<% end %>